{% extends 'registration_base.html' %}
{% load crispy_forms_tags %}
{% block title %} ReservationPortal {% endblock %}
<!-- {% load humanize %} -->
{% block content %}

  <!-- jumbotron  -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">     
        <h1  style="text-align: center; margin-top: 94px; color: #d4dce2;;">ReservationPortal</h1> 
        <h3 style="text-align: center;color: #a18b78;">A Responsive Booking/Reservation Application</h3>
    </div>
  </div>
  <!-- tutup jumbotron -->
<div class="container-fluid" style="margin-top: 20px; margin-bottom: 50px;">
    
    <div class="row text-center">
        <div class="col">
            <h1>Steps to follow</h1>
            <hr style="width: 185px; border: 0.5px solid; margin-bottom: 50px;">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-6 col-md-3 col-lg-3">
            <i class="fas fa-user-plus" style="font-size: 50px; margin-bottom: 5%;"></i>
            <h4>Register</h4>
            <p>
                Initial step involves creating your account via register link mentioned above.
            </p>
        </div>

        <div class="col-6 col-md-3 col-lg-3">
            <i class="fas fa-user" style="font-size: 50px; margin-bottom: 5%;"></i>
            <h4> Login</h4>
            <p>
                If you've already registered earlier Login with your credentials to start adding your notes.  
            </p>
        </div>

        <div class="col-6 col-md-3 col-lg-3">
            <i class="fas fa-hand-pointer" style="font-size: 50px; margin-bottom: 5%;"></i>
            <h4>Select Preference</h4>
            <p>
                Select your choice of table as per your need or requirement.  
            </p>
        </div>

        <div class="col-6 col-md-3 col-lg-3">
            <i class="fas fa-check-square" style="font-size: 50px; margin-bottom: 5%;"></i>
            <h4>Book Selection</h4>
            <p>
                Chose date and time as per your need and book your preference.
            </p>
        </div>
    </div>
</div>
<div class="text-center mb-5">
<h3>DEMO CREDENTIAL FOR USER & ADMIN LOGIN</h3> <p> Username: "gaurav" &nbsp; &nbsp; Password: "gauravgaurav" </p>


</div>
<style>
.jumbotron {
    background-image: url('https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80');
    background-size: cover;
    height: 400px;
    position: relative;
  }
  </style>
{% endblock %}
