{% extends 'registration_base.html' %}
{% load static %}
{% block title %} Table List {% endblock %}

{% block content %}
  

<body>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://cache.marriott.com/marriottassets/marriott/MAAMD/maamd-lounge-7106-hor-feat.jpg?downsize=1440px:*" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h1 style="font-size: 4.0rem; background-color: black;"> Select your Category by clicking on the next or prev Slides  </h1>
    <p>...</p>
  </div>
            
          </div>

          {% for table_category, table_url in table_list %}
          <div class="carousel-item">
         <a style="text-decoration: none;" href="{{table_url}}">   <img class="d-block w-100" src="https://cache.marriott.com/marriottassets/marriott/MAAMD/maamd-lounge-7106-hor-feat.jpg?downsize=1440px:*"> 
                               <div class="carousel-caption d-none d-md-block">
                                <h1 style="font-size: 4.0rem; color: white; background-color: black;">{{table_category }} Suite</h1> </a>
                    <p>...</p>
                  </div>
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</body>

<style>
    .carousel-control-next-icon, .carousel-control-prev-icon {
   
    width: 75px;
    height: 75px;

}

</style>

{% endblock %}